.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ffe800;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: width 0.2s ease, height 0.2s ease, transform 0.2s ease,
    background 0.2s ease, filter 0.2s ease, opacity 0.2s ease;
  z-index: 999;
}

/* Default hoverable: big, soft, translucent, negative filter */
.custom-cursor.cursor-hover {
  width: 80px;
  height: 80px;
  background: #ffe800;
  mix-blend-mode: difference;
}

/* Text inside cursor */
.cursor-text {
  font-size: 9px;
  font-family: "Space Mono", monospace;
  color: black;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}
.custom-cursor.cursor-view,
.custom-cursor.cursor-read,
.custom-cursor.cursor-arrow-left,
.custom-cursor.cursor-arrow-right {
  width: 60px;
  height: 60px;
  background: #ffe800;
  transform: translate(-50%, -50%) scale(1.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-cursor.cursor-arrow-left,
.custom-cursor.cursor-arrow-right {
  width: 50px;
  height: 50px;
  background: #ffe800;
  transform: translate(-50%, -50%) scale(1);
}

/* PROJECT CURSOR STYLE */
.custom-cursor.cursor-project {
  width: auto;
  height: 30px;
  background: #ffe800;
  padding: 0 24px;
  border-radius: 9999px;
  opacity: 1;
  filter: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  transition: width 0.25s ease, height 0.25s ease, padding 0.25s ease,
    border-radius 0.25s ease, transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.25s ease;
}

.cursor-project-wrapper {
  display: flex;
  gap: 4px;
  pointer-events: none;
}

.cursor-tooltip {
  font-size: 12px;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  white-space: nowrap;
}

.custom-cursor.cursor-project {
  height: 30px;
  background: #ffe800;
  border-radius: 9999px;
  opacity: 1;
  filter: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1), height 0.25s ease,
    padding 0.25s ease, border-radius 0.25s ease, opacity 0.25s ease;
  mix-blend-mode: normal;
}

/* On hover, stretch horizontally from center */
.custom-cursor.cursor-project.hover {
  transform: translate(-50%, -50%);
  width: auto;
}
