.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ffe800;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: width 0.2s ease, height 0.2s ease, transform 0.2s ease,
    background 0.2s ease, filter 0.2s ease, opacity 0.2s ease;
  z-index: 9999;
}

/* Default hoverable: big, soft, translucent, negative filter */
.custom-cursor.cursor-hover {
  width: 60px;
  height: 60px;
  background: #ffe800;
  opacity: 0.5;
  filter: invert(1);
}

/* Text inside cursor */
.cursor-text {
  font-size: 8px;
  font-family: "Space Mono", monospace;
  color: black;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}
.custom-cursor.cursor-view,
.custom-cursor.cursor-read,
.custom-cursor.cursor-arrow-left,
.custom-cursor.cursor-arrow-right {
  width: 60px;
  height: 60px;
  background: #ffe800;
  transform: translate(-50%, -50%) scale(1.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
