.underline-animate {
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000;
  z-index: 1;
}
.underline-animate::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 7%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: all 1s cubic-bezier(0.37, 0.01, 0, 0.98);
  animation: underline 2s ease forwards;
}

.hero-adjustment {
  min-height: calc(var(--vh, 1vh) * 100);
}

@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.hero-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 60px;
  align-items: center;
  border: 1px solid rgba(255, 232, 0, 0.4);
  border-radius: 50%;
  color: #ffe800;
  display: flex;
  font-size: 12px;
  justify-content: center;
  line-height: 1;
  height: clamp(36px, 4vw, 60px);
  width: clamp(36px, 4vw, 60px);
  transition: border 0.4s ease-out, opacity 0.7s ease-out;
}
.hero-navigation:hover {
  border: 1px solid #ffe800;
}

@media (max-width: 767px) {
  .hero-navigation {
    height: 39px !important;
    width: 39px !important;
  }
}
@media (max-width: 1279px) {
  .hero-navigation {
    height: 50px;
    width: 50px;
  }
}
