@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "GT Walsheim Rg";
  src: url("../fonts/GTWalsheimTrial-Rg.woff2") format("woff2"),
    url("../fonts/GTWalsheimTrial-Rg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Walsheim Lt";
  src: url("../fonts/GTWalsheimTrial-Lt.woff2") format("woff2"),
    url("../fonts/GTWalsheimTrial-Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Walsheim Th";
  src: url("../fonts/GTWalsheimTrial-Th.woff2") format("woff2"),
    url("../fonts/GTWalsheimTrial-Th.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

.gt-rg {
  font-family: "GT Walsheim Rg", "Poppins", Arial, sans-serif;
}
.gt-lt {
  font-family: "GT Walsheim Lt", "Poppins", Arial, sans-serif;
}
.gt-th {
  font-family: "GT Walsheim Th", "Poppins", Arial, sans-serif;
}
.space-mono {
  font-family: "Space Mono", monospace;
}

html, body, a, button, input, textarea, select, * {
  cursor: none !important;
}

body {
  background: #000;
}
#main {
  padding-top: 110px;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Removing whitespace */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Responsiveness */
@media (max-width: 767px) {
  #main {
    padding-top: 78px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.fade-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-item.visible {
  opacity: 1;
  transform: translateY(0);
}
